In [1]:
# Load Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in the CSV files
rate_data = pd.read_csv("../Resources/30_year_fixed_mortgage_rates.csv")
debt_data = pd.read_csv("../Resources/fed_debt_total_public_debt.csv")
fed_rate_data = pd.read_csv("../Resources/fed-funds-rate-historical-chart.csv")
hpi_data = pd.read_csv("../Resources/all_transactions_hpi_us.csv")

In [3]:
# Create the DataFrames, all start @ 1/1/1975, Fed_Funds is daily, 30_year is monthly, All_HPI_US & Fed_Debt are quarterly 
rate_df = pd.DataFrame(rate_data)
debt_df = pd.DataFrame(debt_data)
fed_rate_df = pd.DataFrame(fed_rate_data)
hpi_df = pd.DataFrame(hpi_data)

In [4]:
# Update the debt and hpi dfs column to align with other 2 dfs
debt_df.rename(columns={'observation_date': 'Date'}, inplace=True)
hpi_df.rename(columns={'observation_date': 'Date'}, inplace=True)

In [5]:
# List all DataFrames
dfs = [rate_df, debt_df, fed_rate_df, hpi_df]

# Apply datetime conversion to each df
for df in dfs:
    df['Date'] = pd.to_datetime(df['Date'])

In [6]:
# Display each DataFrame (Monthly)
rate_df.head()

        Date  Fixed_30_Rate
0 1975-01-01           9.29
1 1975-02-01           9.02
2 1975-03-01           8.86
3 1975-04-01           8.84
4 1975-05-01           8.89

In [7]:
# Display each DataFrame (Quarterly)
debt_df.head()

        Date  GFDEBTN
0 1975-01-01   509659
1 1975-04-01   533188
2 1975-07-01   553647
3 1975-10-01   576649
4 1976-01-01   600490

In [8]:
# Rename GFDEBTN column
debt_df.rename(columns={'GFDEBTN': 'Total_Public_Debt'}, inplace=True)

In [9]:
# Display each DataFrame (Daily - skips Weekends)
fed_rate_df.head()

        Date  Fed_Funds_Rate
0 1975-01-01            3.87
1 1975-01-02            8.55
2 1975-01-03            8.37
3 1975-01-04            8.37
4 1975-01-05            8.37

In [10]:
# Display each DataFrame (Monthly)
hpi_df.head()

        Date  USSTHPI
0 1975-01-01    59.78
1 1975-04-01    60.74
2 1975-07-01    61.02
3 1975-10-01    62.19
4 1976-01-01    62.73

In [11]:
# Rename USSTHPI column as House_Price_Index
hpi_df.rename(columns={'USSTHPI': 'House_Price_Index'}, inplace=True)

In [12]:
# Update the df to show only 1st of the month
fed_rate_df = fed_rate_df.resample('MS', on='Date').first()

In [13]:
# Reset the index to ensure 'Date' remains a column
fed_rate_df.reset_index(inplace=True)

# Check for column names
fed_rate_df.columns = ['Date', 'Fed_Funds_Rate']

# Display the updated df
fed_rate_df.head()

        Date  Fed_Funds_Rate
0 1975-01-01            3.87
1 1975-02-01            6.76
2 1975-03-01            6.07
3 1975-04-01            5.48
4 1975-05-01            5.55

In [14]:
# Convert the monthly dfs to report only quarterly to align with hpi and debt
fed_rate_df = fed_rate_df[fed_rate_df['Date'].dt.month.isin([1, 4, 7, 10])]
rate_df = rate_df[rate_df['Date'].dt.month.isin([1, 4, 7, 10])]

In [15]:
# Display updated dfs
fed_rate_df.head()

         Date  Fed_Funds_Rate
0  1975-01-01            3.87
3  1975-04-01            5.48
6  1975-07-01            6.12
9  1975-10-01            6.24
12 1976-01-01            5.37

In [16]:
# Display updated dfs
rate_df.head()

         Date  Fixed_30_Rate
0  1975-01-01           9.29
3  1975-04-01           8.84
6  1975-07-01           8.89
9  1975-10-01           9.24
12 1976-01-01           8.90

In [17]:
# Display updated dfs
hpi_df.head()

        Date  House_Price_Index
0 1975-01-01              59.78
1 1975-04-01              60.74
2 1975-07-01              61.02
3 1975-10-01              62.19
4 1976-01-01              62.73

In [18]:
# Display updated dfs
debt_df.head()

        Date  Total_Public_Debt
0 1975-01-01             509659
1 1975-04-01             533188
2 1975-07-01             553647
3 1975-10-01             576649
4 1976-01-01             600490

In [19]:
# Set the end date limit
end_date = "2025-01-01"

# Filter rate_df and fed_rate_df to end at the same date as hpi_df and debt_df
rate_df = rate_df[rate_df["Date"] <= end_date]
fed_rate_df = fed_rate_df[fed_rate_df["Date"] <= end_date]

In [20]:
# Confirm end date updates completed
print(rate_df.tail())  # Check last few entries
print(fed_rate_df.tail())  # Confirm end date matches

          Date  Fixed_30_Rate
588 2024-01-01           6.69
591 2024-04-01           7.17
594 2024-07-01           6.78
597 2024-10-01           6.72
600 2025-01-01           6.95
          Date  Fed_Funds_Rate
588 2024-01-01            5.33
591 2024-04-01            5.33
594 2024-07-01            5.33
597 2024-10-01            4.83
600 2025-01-01            4.33

In [21]:
# Save each DataFrame to CSV inside the Output folder
rate_df.to_csv("../Output/rate_data.csv", index=False)
debt_df.to_csv("../Output/debt_data.csv", index=False)
fed_rate_df.to_csv("../Output/fed_rate_data.csv", index=False)
hpi_df.to_csv("../Output/hpi_data.csv", index=False)

In [22]:
import os

# Check if the files exist in Output/
output_files = ["rate_data.csv", "debt_data.csv", "fed_rate_data.csv", "hpi_data.csv"]
for file in output_files:
    print(file, "exists:", os.path.exists(f"../Output/{file}"))

rate_data.csv exists: True
debt_data.csv exists: True
fed_rate_data.csv exists: True
hpi_data.csv exists: True